body{
  background-color: rgb(242,187,145);
  font-family:"Neo Sans fonts", Verdana, sans-serif
}

.logo{
  width: 550px;
  height: 550px;
  margin-left: 27%;
  /*margin-bottom: 0%;*/
}

.foot{
  list-style: none;
  position: below;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(211,211,211);
  text-align: center;
}

.foot li{
	margin: 0 20;
}

.navbar { 
  margin-left: 1050px;
  list-style: none;
}

.navbar li {
  /*list-style: none;*/
  background: #ccc;
  float: left;
  margin: 0 10;
}

.signinnavbar{
  margin-left: 1000px;
  list-style: none;
}

.signinnavbar li {
  /*list-style: none;*/
  background: #ccc;
  float: left;
  margin: 0 10;
}

.signinbutton{
  margin-left: 1175px;
  list-style: none;
}

.signinbutton li{
  /*list-style: none;*/
  background: #ccc;
  float: left;
}

.firstlastname{
	list-style: none;
	margin-left: 550px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.paragraphs{
  word-wrap: break-word;
  width: 750px; /* that depends on text */
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
	
}