body{
  background-color: rgb(242,187,145);
  font-family:"Neo Sans fonts", Verdana, sans-serif
}

.logo{
  width: 700px;
  height: 700px;
  margin-left: 27%;
}

.foot{
  list-style: none;
  position: below;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(211,211,211);
  text-align: center;
}

.foot li{
	margin: 0 20;
}

.navbar{ 
  margin-left: 665px;
  margin-bottom: 75px;
  list-style: none;
}

.navbar li{
  float: left;
  margin: 0 10;
}

.signinnavbar{
  margin-left: 1250px;
  list-style: none;
}

.signinnavbar li {
  background: #ccc;
  float: left;
  margin: 0 10;
}

.signinbutton{
  margin-left: 1425px;
  list-style: none;
}

.signinbutton li{
  background: #ccc;
  float: left;
}

.firstlastname{
	list-style: none;
	margin-left: 675px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.paragraphs{
  word-wrap: break-word;
  width: 750px; 
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
	
}