head{
	margin: 0;
	padding: 0;
}

/* Body styling for every page*/
body{
  margin: 0;
  padding: 0;
  background-color: rgb(242,187,145);
  font-family:"Neo Sans fonts", Verdana, sans-serif
}

/* Logo styling for every page*/
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* Navigation bar styling for Index page and Art Page*/
.navbarHome{ 
  margin:0 auto;
  text-align: center;
  margin-bottom: 75px;
  list-style: none;
}

.navbarHome a{
  text-decoration: none;
  padding: 10px;
  color: white;
}

.navbarHome a:hover{
  color: blue;
}

/* Navigation bar styling for About page */
.navbarAbout{
  margin:0 auto;
  text-align: center;
  margin-bottom: 75px;
  list-style: none;	
}

.navbarAbout a{
  text-decoration: none;
  padding: 10px;
  color: white;
}

.navbarAbout a:hover{
  color: blue;
}

.aboutpic img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  width: 50%;
 
}

/* Navigation bar styling for Art page */
.navbarArt{
  margin:0 auto;
  text-align: center;
  margin-bottom: 75px;
  list-style: none;	
}

.navbarArt a{
  text-decoration: none;
  padding: 10px;
  color: white;
}

.navbarArt a:hover{
  color: blue;
}

.artImage{
  list-style: none;
  
}

.artImage li{
  margin: 10;
}

.artImage img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  width: 50%;	
}

/* Navigation bar styling for sign in page*/
.signinnavbar{
  margin:0 auto;
  text-align: center;
  margin-bottom: 75px;
  list-style: none;	
}

.signinnavbar a{
  color: white;
  padding: 10px;
  text-decoration: none;
}

.signinnavbar a:hover{
  color: blue;
}

/* Styling for sign in link for all pages */
.signinbutton{
  text-align: right;
  padding: 25px;
  list-style: none;
}

.signinbutton a{
  color:white;
  text-decoration: none;
}

.signinbutton a:hover{
  color: blue;
}

/* styling for input text boxes on sign in page*/
.firstlastname{
  margin:0 auto;
  text-align: center;
  margin-bottom: 75px;
  list-style: none;
}

.firstlastname a{
  text-decoration: none;
  color: white;
}

.firstlastname a:hover{
  color: blue;
}

/*Styling for paragrpahs of text across all pages*/
.paragraphs{
  word-wrap: break-word;
  width: 90%; 
  text-align: center;
  margin: 0 auto;
  margin-bottom: 75px;
	
}

.paragraphs img{
  width: 700px;
  height: 500px;
	
}

/* White box around paragrpahs on all pages*/
.box1{
  background-color: white;
} 

.box1 p{
	padding: 25px;
}

/* Footer styling for every page */
.foot{
  list-style: none;
  position: below;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(211,211,211);
  text-align: center;
}

.foot li{
	margin: 0 20;
}